@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');




/* BODY STYLE */
.container{

}
.ba{
      background: rgb(15,15,36);
      background: linear-gradient( rgba(15,15,36,1) 10%,rgba(44,32,84,1) 50%,rgba(114,65,93,1) 63%, rgba(230,105,87,1) 80%, rgba(0,0,46,1) 100%);
    }*{margin: 0; padding: 0;}


    .sideline{
        height: 100vw; position:absolute; margin-left: 70px; margin-top: 400px; z-index: 7000; left:0px;
    }
    html, body {
        max-width: 100%;
       
    }

/* HEADER STYLE */
    .header{
        background-color: black;
        color: white;
        width: 100%;
        height: 70px;
        top:0px;
    }

    .smalltext {  font-family: Helvetica;
        letter-spacing: 1.5px;
        font-weight: 300;
        font-size: 16px;
        padding: 23px 5px 0px;
        line-height: 30px;
        color:white;
        opacity: 0.5;
        transition: opacity 0.7s;
    }

    .smalltext:hover :active :focus{ 
        opacity: 1;
        font-weight: 400;}



/* PART ONE STYLE */

.gridsystem1 { 
    display: grid;
    top:0px;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    overflow: hidden;
    }
    .gridsystem1 #RadiationText{
        cursor: pointer;
        grid-column-start: 1;
        grid-column-end: 6;
        margin-left: 8em;
        margin-top: 10em;
        opacity: 0;
        float:left;
        z-index: 1000;
        }
 

    .gridsystem1 #sunanim{
        cursor: pointer;
        grid-column-start: 6;
        grid-column-end: auto;
        width: 30vw;
        margin-top: 5em;
        animation: 1.5s ease-out 0s slideInFromTop1; 
        z-index: 900;
        }
        .gridsystem1 #circle:hover{
            filter: invert(2%) sepia(1%) saturate(278%) hue-rotate(6deg) brightness(104%) contrast(97%);
            animation: oraymove 3s  linear infinite;
            transform-origin: center;
            
        }
        .gridsystem1 #circle:focus{
            filter: invert(2%) sepia(1%) saturate(278%) hue-rotate(6deg) brightness(104%) contrast(97%);
            animation: oraymove 3s  linear infinite;
            transform-origin: center;
            
        }
        .gridsystem1 #circle:active{
            filter: invert(2%) sepia(1%) saturate(278%) hue-rotate(6deg) brightness(104%) contrast(97%);
            animation: oraymove 3s  linear infinite;
            transform-origin: center;
            
        }

        #outsideray{
            animation: oraymove 3s  linear infinite;
            transform-origin: center;
     
        }
        @keyframes oraymove{
           0% { transform: scale(1); }
          50% { transform: scale(1.1); }
          100% { transform: scale(1); }
            }
            #insideray{
                animation: iraymove 4s  linear infinite;
                transform-origin: center;
         
            }
            @keyframes iraymove{
               0% { transform: scale(1.1); }
              50% { transform: scale(1); }
              100% { transform: scale(1.1); }
                }
            

           

    .gridsystem1 #Skylayer1{
        z-index: 1;
        grid-column-start: 5;
        grid-column-end: 9;
        position: absolute;
        opacity: 100%;
        right: 0px;
        }        

    .gridsystem1 #Starsystemstatic{
        grid-column-start: 7;
        grid-column-end: auto;
        width: 25vw;
        opacity: 100%;
        animation: 1.5s ease-out 0s slideInFromRight1; 
        margin-left: -50em; 
     

    }
        @keyframes slideInFromTop1 {
        
            0% 
            {
                transform: translateY(-50%);
                opacity: 0%;
            }
            100% {
                transform: translateY(0);
                opacity: 100%;
            }
        }
        @keyframes slideInFromRight1 {
        
            0% 
            {
                transform: translate(50%);
                opacity: 0%;
            }
            100% {
                transform: translate(0);
                opacity: 100%;
            }
        }



    .gridsystem1 #Asteroid{ 
        margin-top:5em;
        grid-column-start: 7;
        margin-left: -15em;
        width: 10vw;
        grid-column-end: auto;
        right: 0px;

        animation: 1.5s ease-out 0s slideInFromRight;
        animation-fill-mode: forwards; 
        z-index: 990;
        }
        @keyframes slideInFromRight {
        
            0% 
            {
                transform: translate(100%, 0);
                opacity: 0%;
            }
            100% {
                transform: translate(0, 0);
                opacity: 100%;
            }
        }


    .gridsystem1 #Skylayer2{
        grid-column-start: 1;
        grid-column-end: auto;
        opacity: 100%;
        left: 0px;
        margin-top: 380px;
        z-index: 1;
        width: 20%;
        }

    .gridsystem1 .sidelinetext
        {
        font-family: Almarai;
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 19px;
        text-transform: uppercase;
        color:white;
        float: left;
        margin-top: 500px;
        margin-left: 83px;
        position:fixed;
        z-index: 1010;
        }


    .gridsystem1 #Planet1{
        animation: 1.5s ease-out 0s slideInFromLeft;
        position: absolute;
        left:0px;
        width: 20vw;
        margin-left: 8em;
        margin-top: 40em;
        animation-fill-mode: forwards; 
        z-index: 990;
        }
            
        @keyframes slideInFromLeft {
        
                0% 
                {
                    transform: translate(0%, 0);
                    opacity: 0%;
                }
                100% {
                    transform: translate(10%, 0);
                    opacity: 100%;
                }
            }

    .gridsystem1 #Planet2{
        position: absolute;
        right: 3em;
        margin-top: 35em;
        animation: 1.5s ease-out 0s slideInFromRight;
        z-index: 990;
        }

    .gridsystem1 #Satellite{
        cursor: pointer;
        grid-column-start: 6;
        grid-row-start: 4;
        grid-column-end: auto;
        margin-left: 10em;
        margin-top: -30em;
        z-index: 3100;
        animation: 1.5s ease-out 0s slideInFromRight;
        }

    .gridsystem1 #Skylayer3{
        margin-top:1500px;
        position: absolute;
        opacity: 100%;
        right: 0px;
        z-index: 0;
        }

        .gridsystem1 #DeepSpaceText{
            cursor: pointer;
            margin-top:-10em;
            width: 30em;
            grid-column-start: 6;
            grid-column-end: auto;
            grid-row-start: 4;
            opacity: 0;
            z-index: 4010;
            }


        .gridsystem1 #Starsystem{
            cursor: pointer;
            margin-top: 70em;
            margin-left: 10em;
            position: absolute;
            grid-column-start: 1;
            width:800px;
            z-index: 2010;
            }
            #starline1 {
                stroke-dasharray: 2000;
                animation: stardash 5s linear infinite;
              }
            #starline2 {
                stroke-dasharray: 2000;
                animation: stardash2 5s linear infinite;
              }
              #starline3 {
                stroke-dasharray: 2000;
                animation: stardash 5s linear infinite;
              }
              #starcurve {
                stroke-dasharray: 2000;
                animation: stardash2 5s linear infinite;
              }
              @keyframes stardash {
                0% {
                  stroke-dashoffset: 3000;
                }
                50% {
                    stroke-dashoffset: 4000;
                  }
                  100% {
                    stroke-dashoffset: 4000;
                  }
              }
              @keyframes stardash2 {
                0% {
                  stroke-dashoffset: 6000;
                }
                50% {
                    stroke-dashoffset: 4000;
                  }
                  100% {
                    stroke-dashoffset: 4000;
                  }
              }

    .gridsystem1 #Powerstation{
        cursor: pointer;
        position: absolute;
        right:0px;
        margin-right: 450px;;
        margin-top:1400px;
        grid-column-start: 1;
        width: 300px;
        z-index: 2020;
        }
        .gridsystem1 #GeoText{
            cursor: pointer;
            width: 550px;
            grid-column-start: 2;
            margin-left: 25em;
            margin-top: 30em;
            opacity: 0;
            z-index: 2011;
            }

            .gridsystem1 #LowEarthText{
                cursor: pointer;
                grid-column: 5/9;
                width: 350px;
                margin-top: 370px;
                right:0px;
                opacity: 0;
                z-index: 3010;
                }   
                .gridsystem1 #Rocket{
                    position: absolute;
                    right:0px;
                    width: 300px;
                    margin-top: 1300px;
                    margin-right:100px;
                    animation: 1.5s ease-out 0s slideInFromRight;
                    z-index: 990;
                    }

            .gridsystem1 #Particle{
                position: absolute;
                width: 50vw;
                left: 40%;
                transform: translate(-50%, -50%);
                z-index: 1100;
                margin-top: 1890px;
                    
                }
                    
                #pmain {
                    stroke-dasharray: 4000;
                    animation: maindash 10s linear infinite;
                  }
                  
                  @keyframes maindash {
                    0% {
                      stroke-dashoffset: 4000;
                    }
                    25% {
                        stroke-dashoffset: 8000;
                      }
                      50% {
                        stroke-dashoffset: 8000;
                      }
                      75% {
                        stroke-dashoffset: 8000;
                      }
                      100% {
                        stroke-dashoffset: 8000;
                      }
                  }
                  #psecond {  
                    animation: secdash 10s linear infinite;
                  }
                  
                  @keyframes secdash {
                    0% {
                      stroke-dasharray: 2500;
                        stroke-dashoffset: 2500;
                    }
                    25% {
                        stroke-dashoffset: 2500;
                      }
                      50% {
                        stroke-dashoffset: 5000;
                      }
                      75% {
                        stroke-dashoffset: 5000;
                      }
                      100% {
                        stroke-dashoffset: 5000;
                      }
                  }
                  #pthird {
                    stroke-dasharray: 2500;
                    animation: thirddash 10s linear infinite;
                  }
                  
                  @keyframes thirddash {
                    0% {
                        stroke-dasharray: 2500;
                      stroke-dashoffset: 2500;
                    }
                    25% {
                        stroke-dasharray: 2500;
                        stroke-dashoffset: 2500;
                      }
                      50% {
                        stroke-dasharray: 2500;
                        stroke-dashoffset: 2500;
                      }
                      75% {
                        stroke-dasharray: 500;
                        stroke-dashoffset: 1000;
                      }
                      100% {
                        stroke-dasharray: 2500;
                        stroke-dashoffset: 5000;
                      }
                  }

                  #starsys1:hover{
                    animation: startwink 3s  linear infinite;
                    transform-origin: absolute;
             
                }
                @keyframes startwink{
                   0% { opacity:0; }
                  50% { opacity:1; }
                  100% { opacity:0; }
                    }


            #TextTitle{
                font-family: Almarai;
                font-weight:2px;
                letter-spacing: 2px;
                font-size: 20px;
                text-transform: uppercase;
                padding: 0px 30px 0px;
                line-height: 324px0;
                color:white;
                transition: opacity 0.7s;
               
            }
            #h3{
                font-family: Almarai;
                font-weight:2px;
                letter-spacing: 2px;
                font-size: 2.5em;
                text-transform: uppercase;
                padding: 0px 30px 0px;
                line-height: 1em;
                color:white;
                transition: opacity 0.7s;
               
            }
            #TextBody{
                font-family: Helvetica;
                letter-spacing: 1.5px;
                font-weight: 100;
                font-style:normal;
                font-size: 18px;
                padding: 10px 30px 0px;
                line-height: 30px;
                color:white;
                transition: opacity 0.7s;
                
            }
    



        /* REVEAL ON SCROLL */
.gridsystem2{
    width: 100vw;
    position: relative;
    text-align: center;
    margin-top: 28em;
    overflow: hidden;
}
.topright {
    position: absolute;
    top: 400px;
    right: 160px;
    z-index: 3010;
  }
  .topleft {
    position: absolute;
    left: 200px;
    z-index: 3010;
  }

#GroundLevel{
            cursor: pointer;
            width: 350px;
            opacity: 0;
          
                    } 
        
        .Mountains{
            cursor: pointer;
            margin-top: 0px; 
            z-index: 3000;
          }

        #Airplane{
            cursor: pointer;
            -webkit-animation: Airplanemove 4s linear infinite;
            animation:Airplanemove 4s linear infinite;
            position: absolute;
            left:0px;
            margin-top: 0px;
            z-index: 6500;
            }
            
            
                @keyframes Airplanemove {

                    0% {
                        transform: translateX(-50%);
                        opacity: 100%;
                    }
                    
                    100% {
                        transform: translateX(500%);
                        opacity: 100%;
                    }
                }
                #Airplane:hover{
                    cursor: pointer;
                animation-play-state: paused;
                    }


            #AirplaneText{
                cursor: pointer;
                margin-left: 200px;
                opacity: 0;
                z-index: 5000;
                }  
         #Train{
             animation: Trainmove 15s  linear infinite;
             float: left;
            width: 550px;
    
            }   
            @keyframes Trainmove {
        
                0% 
                {
                    transform: translateX(200%);
                    opacity: 100%;
                }
                100% {
                    transform: translateX(-100%);
                    opacity: 100%;
                }
            }

        #Car{
            animation: Carmove 20s linear infinite;
                position: relative;
                width: 422px;
                
                } 
                @keyframes Carmove {
        
                    0% 
                    {
                        transform: translateX(-50%);
                        opacity: 100%;
                    }
                    100% {
                        transform: translateX(100%);
                        opacity: 100%;
                    }
                }


         
          .reveal{
            opacity: 0;
            transition: all 3s ease-in-out;
          }
          
          .reveal.active{
            opacity: 1;
          }

