/* =================
BODY STYLE 
===================*/

.ba {
  background: linear-gradient(
    rgba(15, 15, 36, 1) 10%,
    rgba(44, 32, 84, 1) 50%,
    rgba(114, 65, 93, 1) 63%,
    rgba(230, 105, 87, 1) 80%,
    rgba(0, 0, 46, 1) 100%
  );
  overflow-x: hidden;
  overflow-y: auto;
}

.sideline {
  position: absolute;
  height: 100vw;
  left: 2vw;
  top: 20vw;
  margin-top: 150px;
  z-index: 7000;
}

.sidetext {
  transform-origin: 0 0;
  top: 40vh;
  margin-left: 2.5vw;
}

html,
body {
  max-width: 100%;
}

/* =================
Header Style
===================*/
.header {
  background-color: black;
  color: white;
  width: 100%;
  height: 70px;
  top: 0px;
}

.smalltext {
  font-family: Helvetica;
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 16px;
  padding: 10px 15px, 0px;
  line-height: 30px;
  color: white;
  opacity: 0.5;
  transition: opacity 0.7s;
}

.smalltext:hover :active {
  opacity: 1;
  font-weight: 400;
}

#sunanim {
  cursor: pointer;
  position: absolute;
  top: 80px;
  right: 17vw;
  width: 35vw;
  margin-top: 5em;
  animation: 1.5s ease-out 0s slideInFromTop1;
  z-index: 900;
}
/* =================
Welcome Modal
===================*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
  border: 1px solid white;
  border-radius: 10px;
  z-index: 9000;
  background: linear-gradient(
    rgba(15, 15, 36, 1) 10%,
    rgba(44, 32, 84, 1) 60%,
    rgba(114, 65, 93, 1) 100%
  );
  width: 70vw;
  max-width: 80%;
  max-height: 90%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  padding-bottom: 15px;
}

.modal-welcome {
  overflow-y: scroll;
  height: calc(85vh - 200px);
  font-family: Helvetica;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 20px;
  line-height: 30px;
  color: white;
  transition: opacity 0.7s;
}

.language-buttons {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}

#overlay {
  position: fixed;
  opacity: 1;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  pointer-events: all;
  z-index: 8999;
}
.en {
  display: block;
}

.fr {
  display: none;
}

/* =================
Grid System 1 Style
===================*/

#gridsystem1 {
  display: fixed;
  margin-top: 80px;
  overflow: hidden;
  animation: none;
}

.paused * {
  animation: none !important;
  transition: none !important;
}

/* Grid System 1 Text */
#TextTitle {
  font-family: Helvetica;
  font-weight: 600px;
  letter-spacing: 2px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0px 15px;
  margin-bottom: 0px;
  line-height: 1.75rem;
  color: white;
  transition: opacity 0.7s;
}

#TextTitle:hover {
  color: rgb(253, 253, 221);
}

#h3 {
  font-family: Helvetica;
  margin-bottom: 0px;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 28px;
  text-transform: uppercase;
  padding: 0px 15px;
  line-height: 1.1em;
  color: white;
  transition: opacity 0.7s;
}

#h3:hover {
  color: rgb(253, 253, 221);
}

#h4 {
  font-family: Helvetica;
  transform: rotate(270deg);
  position: fixed;
  letter-spacing: 2px;
  font-size: 24px;
  padding: 0px 0px;
  color: white;
  transition: opacity 0.7s;
  z-index: 7000;
}

#TextBody {
  font-family: Helvetica;
  letter-spacing: 1.8px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  color: white;
  transition: opacity 0.7s;
  margin-top: 5px;
  padding: 0px 15px;
}

.modalText {
  font-family: Helvetica;
  letter-spacing: 1.8px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  color: white;
  transition: opacity 0.7s;
  margin-top: 5px;
  padding: 0px 15px 0px 0px;
}

#TextBody:hover {
  color: rgb(253, 253, 221);
}

#gridsystem1 #RadiationText {
  cursor: pointer;
  position: absolute;
  width: 35vw;
  top: 5vw;
  padding-top: 25px;
  left: 6vw;
  opacity: 0;
  z-index: 0;
}

#gridsystem1 #DeepSpaceText {
  position: absolute;
  cursor: pointer;
  top: 40vw;
  margin-top: 200px;
  right: 20vw;
  width: 30em;
  opacity: 0;
  z-index: 0;
}

#gridsystem1 #GeoText {
  position: absolute;
  cursor: pointer;
  width: 550px;
  left: 14vw;
  margin-left: 70px;
  top: 32vw;
  margin-top: 180px;
  opacity: 0;
  z-index: 0;
}

#gridsystem1 #LowEarthText {
  cursor: pointer;
  position: absolute;
  width: 350px;
  top: 60vw;
  margin-top: 100px;
  right: 32vw;
  margin-right: 50px;
  opacity: 0;
  z-index: 0;
}

#gridsystem1 #AirplaneText {
  position: absolute;
  cursor: pointer;
  margin-left: 10vw;
  top: 65vw;
  margin-top: 200px;
  opacity: 0;
  z-index: 0;
}

/* Grid System 1 Images */

#gridsystem1 #sunanim {
  cursor: pointer;
  position: absolute;
  top: 80px;
  right: 17vw;
  width: 35vw;
  margin-top: 5em;
  animation: 1.5s ease-out 0s slideInFromTop1;
  z-index: 900;
}

#gridsystem1 #circle:hover {
  filter: invert(2%) sepia(1%) saturate(278%) hue-rotate(6deg) brightness(104%)
    contrast(97%);
  animation: oraymove 3s linear infinite;
  transform-origin: center;
}

#gridsystem1 #circle:focus {
  filter: invert(2%) sepia(1%) saturate(278%) hue-rotate(6deg) brightness(104%)
    contrast(97%);
  animation: oraymove 3s linear infinite;
  transform-origin: center;
}

#gridsystem1 #circle:active {
  filter: invert(2%) sepia(1%) saturate(278%) hue-rotate(6deg) brightness(104%)
    contrast(97%);
  animation: oraymove 3s ease-in-out;
  transform-origin: center;
}

#outsideray {
  animation: oraymove 3s linear infinite;
  transform-origin: center;
}

@keyframes oraymove {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#insideray {
  animation: iraymove 4s linear infinite;
  transform-origin: center;
}

@keyframes iraymove {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

#gridsystem1 #Skylayer1 {
  position: absolute;
  opacity: 100%;
  top: 70px;
  right: 0px;
  z-index: 1;
}

#gridsystem1 #Starsystemstatic {
  position: absolute;
  width: 25vw;
  opacity: 100%;
  animation: 1.5s ease-out 0s slideInFromRight1;
  margin-left: -50em;
}

#Starsystem:hover {
  filter: invert(2%) sepia(1%) saturate(128%) hue-rotate(-20deg)
    brightness(104%) contrast(110%);
}

@keyframes slideInFromTop1 {
  0% {
    transition: transform;
    transform: translateY(-50%);
    opacity: 0%;
  }

  100% {
    transition: transform;
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes slideInFromRight1 {
  0% {
    transition: transform;
    transform: translate(50%);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    opacity: 0%;
  }

  100% {
    transition: transform;
    transform: translate(0);
    opacity: 100%;
  }
}

#gridsystem1 #Asteroid {
  position: absolute;
  width: 10vw;
  margin-top: 6vw;
  right: 10vw;
  animation: 1.5s ease-out 0s slidediagonal;
  animation-fill-mode: forwards;
  z-index: 990;
}

#Asteroid:hover {
  cursor: pointer;
  filter: invert(2%) sepia(1%) saturate(128%) hue-rotate(-10deg)
    brightness(114%) contrast(87%);
}

@keyframes slidediagonal {
  0% {
    transition: transform;
    transform: translate(100%, -100%);
    opacity: 0%;
  }

  100% {
    transition: transform;
    transform: translate(0, 0);
    opacity: 100%;
  }
}

@keyframes slideInFromRight {
  0% {
    transition: transform;
    transform: translate(100%, 0);
    opacity: 0%;
  }

  100% {
    transition: transform;
    transform: translate(0, 0);
    opacity: 100%;
  }
}

#gridsystem1 #Skylayer2 {
  grid-column-start: 1;
  grid-column-end: auto;
  opacity: 100%;
  left: 0px;
  top: 100vw;
  margin-top: 100px;
  z-index: 1;
  width: 20%;
}

#gridsystem1 .sidelinetext {
  font-family: Helvetica;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
  color: white;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 1010;
}

#gridsystem1 #Planet1 {
  position: absolute;
  left: 0px;
  left: 7vw;
  top: 12vw;
  margin-left: 70px;
  margin-top: 150px;
  z-index: 990;
}

#Planet1:hover {
  cursor: pointer;
  filter: saturate(105%) hue-rotate(-10deg) brightness(114%);
}
#mars {
  animation: 2s ease-out 0.3s slideInFromLeft;
  animation-fill-mode: forwards;
  opacity: 0;
}

#bgplanets {
  animation: 1.5s ease-out 0s slideInFromLeft;
  animation-fill-mode: forwards;
}

#orbit {
  animation: orbanim 10s 2s linear;
  animation-iteration-count: 2;
  transform-origin: 10px -25px;
  transform-box: fill-box;
}

@keyframes orbanim {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translate(0%, 0);
    opacity: 0%;
  }

  100% {
    transform: translate(10%, 0);
    opacity: 100%;
  }
}

#gridsystem1 #Planet2 {
  position: absolute;
  right: 3em;
  top: 20vw;
  margin-top: 200px;
  animation: 1.5s ease-out 0s slideInFromRight forwards;
  z-index: 990;
}

#gridsystem1 #Satellite {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  right: 7vw;
  margin-right: 25px;
  top: 33vw;
  margin-top: 175px;
  z-index: 3100;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  animation: 1.5s ease-out 0s slideInFromRight forwards;
}

#gridsystem1 #Satellite:hover {
  cursor: pointer;
  filter: invert(2%) sepia(1%) saturate(128%) hue-rotate(-10deg)
    brightness(114%) contrast(87%);
}

#gridsystem1#Satellite:focus {
  filter: invert(2%) sepia(1%) saturate(108%) hue-rotate(6deg) brightness(104%)
    contrast(87%);
}

#satleg1 {
  animation: satanim 3s ease-in-out infinite;
  transform-origin: 120px 0px;
  transform-box: fill-box;
}

@keyframes satanim {
  0% {
    transform: rotatez(0deg);
  }

  50% {
    transform: rotatez(-10deg);
  }

  100% {
    transform: rotatez(0deg);
  }
}

#satleg2 {
  animation: satanim2 3s ease-in-out infinite;
  transform-origin: 50px 0px;
  transform-box: fill-box;
}

@keyframes satanim2 {
  0% {
    transform: rotatez(0deg);
  }

  50% {
    transform: rotatez(20deg);
  }

  100% {
    transform: rotatez(0deg);
  }
}

#gridsystem1 #Skylayer3 {
  position: absolute;
  top: 30vw;
  margin-top: 300px;
  opacity: 100%;
  right: 0px;
  z-index: 0;
}

#gridsystem1 #Starsystem {
  cursor: pointer;
  top: 32vw;
  margin-top: 100px;
  left: 5vw;
  position: absolute;
  grid-column-start: 1;
  z-index: 2010;
}

#starline1 {
  stroke-dasharray: 2000;
  animation: stardash 5s linear infinite;
}

#starline2 {
  stroke-dasharray: 2000;
  animation: stardash2 5s linear infinite;
}

#starline3 {
  stroke-dasharray: 2000;
  animation: stardash 5s linear infinite;
}

#starcurve {
  stroke-dasharray: 2000;
  animation: stardash2 5s linear infinite;
}

@keyframes stardash {
  0% {
    stroke-dashoffset: 3000;
  }

  50% {
    stroke-dashoffset: 4000;
  }

  100% {
    stroke-dashoffset: 4000;
  }
}

@keyframes stardash2 {
  0% {
    stroke-dashoffset: 6000;
  }

  50% {
    stroke-dashoffset: 4000;
  }

  100% {
    stroke-dashoffset: 4000;
  }
}

#starcloud {
  animation: starcld 20s ease-in-out alternate infinite;
}

@keyframes starcld {
  0% {
    transition: transform;
    transform: translate(0, 0);
  }

  50% {
    transition: transform;
    transform: translate(2%, -2%);
  }

  100% {
    transition: transform;
    transform: translate(3%, 1%);
  }
}

#gridsystem1 #Powerstation {
  cursor: pointer;
  perspective: 200;
  position: absolute;
  right: 18vw;
  margin-right: 80px;
  margin-top: 60vw;
  z-index: 2050;
}

#gridsystem1 #Powerstation:hover {
  filter: invert(2%) sepia(1%) saturate(128%) hue-rotate(-10deg)
    brightness(114%) contrast(87%);
}

#Powerstation1 {
  animation: powerper 10s ease-in-out infinite;
}

@keyframes powerper {
  0% {
    perspective: 200;
    transform: rotateY(20deg);
  }

  50% {
    perspective: 200;
    transform: rotateY(-20deg);
  }

  100% {
    perspective: 200;
    transform: rotateY(20deg);
  }
}

#shine {
  animation: shine 5s ease-in-out infinite;
}

@keyframes shine {
  0% {
    opacity: 70;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 70;
  }
}

#gridsystem1 .Rocket {
  position: absolute;
  width: 23vw;
  top: 50vw;
  margin-top: 200px;
  right: 0px;
  margin-right: -10vw;
  animation: 1.5s ease-out 0s slideInFromRight;
  z-index: 990;
}

.Rocket:hover {
  cursor: pointer;
  filter: saturate(108%) hue-rotate(-10deg) brightness(114%) contrast(87%);
}

.Rocket.active {
  animation: flyanim 5s ease-in-out forwards;
}

@keyframes flyanim {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(-80px, -300px);
  }
}

.afterburn.active {
  stroke-dasharray: 350;

  animation: burnanim 1s linear;
  animation-iteration-count: 5;
}

@keyframes burnanim {
  0% {
    stroke-dashoffset: 700;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

#gridsystem1 #Particle {
  position: absolute;
  width: 50vw;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  top: 70vw;
  margin-top: 200px;
}

.particleShower > svg > g > #pmain {
  opacity: 0;
  stroke-dasharray: 4000;
}

.particleShower.active > svg > g > #pmain {
  opacity: 1;
  stroke-dasharray: 4000;
  animation: maindash 10s linear;
}

@keyframes maindash {
  0% {
    stroke-dashoffset: 4000;
  }

  45% {
    stroke-dashoffset: 8000;
  }

  50% {
    stroke-dashoffset: 8000;
  }

  75% {
    stroke-dashoffset: 8000;
  }

  100% {
    stroke-dashoffset: 8000;
  }
}

.particleShower > svg > g > #psecond {
  opacity: 0;
}

.particleShower.active > svg > g > #psecond {
  opacity: 1;
  animation: secdash 10s linear;
}

@keyframes secdash {
  0% {
    stroke-dasharray: 2100;
    stroke-dashoffset: 2100;
  }

  45% {
    stroke-dasharray: 2100;
    stroke-dashoffset: 2100;
  }

  75% {
    stroke-dashoffset: 4200;
  }

  100% {
    stroke-dashoffset: 4200;
  }
}

.particleShower > svg > g > #pthird {
  opacity: 0;
}

.particleShower.active > svg > g > #pthird {
  opacity: 1;
  stroke-dasharray: 2000;
  animation: thirddash 10s linear;
}

@keyframes thirddash {
  0% {
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
  }

  75% {
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
  }

  90% {
    stroke-dasharray: 1300;
    stroke-dashoffset: 2600;
  }
  100% {
    stroke-dasharray: 1300;
    stroke-dashoffset: 2600;
  }
}

.particleShower > svg > g > #pfourth {
  opacity: 0;
}

.particleShower.active > svg > g > #pfourth {
  opacity: 1;
  animation: fourthdash 10s linear;
}

@keyframes fourthdash {
  0% {
    stroke-dasharray: 1400;
    stroke-dashoffset: 1400;
  }

  90% {
    stroke-dasharray: 1400;
    stroke-dashoffset: 1400;
  }

  100% {
    stroke-dasharray: 1400;
    stroke-dashoffset: 2800;
  }
}

#starsys1 {
  animation: startwink 5s ease-in-out infinite;
  transform-origin: absolute;
}

#starsys2 {
  animation: startwink 8s ease-in-out infinite;
  transform-origin: absolute;
}

#starsys3 {
  animation: startwink2 7s ease-in-out infinite;
  transform-origin: absolute;
}

#starsys4 {
  animation: startwink2 10s ease-in-out infinite;
  transform-origin: absolute;
}

@keyframes startwink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

@keyframes startwink2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

/* REVEAL ON SCROLL */
#gridsystem2 {
  width: 100vw;
  position: relative;
  text-align: center;
  top: 18vw;
  margin-top: -10px;
  overflow: hidden;
}

.topright {
  position: absolute;
  top: 20vw;
  right: 12vw;
  margin-right: -20px;
  z-index: 3010;
}

#GroundLevel {
  width: 300px;
  opacity: 0;
}

.Mountains {
  cursor: pointer;
  margin-top: 0px;
  z-index: 3000;
}

#Car:hover #Headlight {
  filter: saturate(80%) hue-rotate(10deg) brightness(134%) contrast(77%);
  opacity: 0.1;
}

#Airplane {
  cursor: pointer;
  animation: Airplanemove 20s linear infinite;
  position: absolute;
  left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  z-index: 6500;
}

#Airplane:hover {
  filter: saturate(180%) brightness(90%) sepia(20%) contrast(120%)
    hue-rotate(150deg);
}

@keyframes Airplanemove {
  0% {
    transform: translateX(-50%);
    opacity: 100%;
  }

  100% {
    transform: translateX(500%);
    opacity: 100%;
  }
}

#Airplane:hover {
  cursor: pointer;
  animation-play-state: paused;
}

.Mountains > svg > g > .Train {
  opacity: 0;
  animation-play-state: paused;
}
.Mountains > svg > g > .Train2 {
  opacity: 0;
  animation-play-state: paused;
}

.Mountains.active > svg > g > .Train {
  will-change: transform;
  -webkit-animation: Trainmove 20s linear;
  animation: Trainmove 20s linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
  float: left;
  opacity: 1;
}

@keyframes Trainmove {
  0% {
    transform: translate3d(130%, 0px, 0px);
    -webkit-transform: translate3d(130%, 0px, 0px);
    -moz-transform: translate3d(130%, 0px, 0px);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transform: translate3d(-100%, 0px, 0px);
    -moz-transform: translate3d(-100%, 0px, 0px);
  }
}

.Mountains > svg > g > .Car {
  opacity: 0;
}

.Mountains.active > svg > g > .Car {
  animation: Carmove 20s ease-out;
  animation-fill-mode: forwards;
  position: relative;
  opacity: 1;
}

@keyframes Carmove {
  0% {
    transition: transform;
    transform: translateX(-50%);
  }

  100% {
    transition: transform;
    transform: translateX(55%);
  }
}

/* =================
Screen Sizes
===================*/

@media (max-width: 1200px) {
  #TextTitle {
    font-family: Helvetica;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 1.75rem;
    padding: 0px 15px;
  }

  .sidetext {
    top: 50vh;
    margin-left: 2.1vw;
  }

  #h3 {
    font-family: Helvetica;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 15px;
    margin-bottom: 0px;
    line-height: 1em;
    color: white;
    transition: opacity 0.7s;
  }

  #h4 {
    font-size: 20px;
  }

  #TextBody {
    font-family: Helvetica;
    margin-top: 0px;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: white;
    transition: opacity 0.7s;
  }
  .modal-welcome {
    font-size: 18px;
    line-height: 20px;
  }

  #gridsystem1 #RadiationText {
    width: 40vw;
    top: 5vw;
    left: 6vw;
  }

  #gridsystem1 #DeepSpaceText {
    top: 38vw;
    margin-top: 200px;
    right: 20vw;
    width: 30vw;
  }

  #gridsystem1 #GeoText {
    width: 50vw;
    left: 14vw;
    margin-left: 10vw;
    top: 32vw;
    margin-top: 130px;
  }

  #gridsystem1 #LowEarthText {
    width: 35vw;
    top: 60vw;
    margin-top: 100px;
    right: 48vw;
    margin-right: 70px;
  }

  #gridsystem1 #AirplaneText {
    margin-left: 10vw;
    top: 65vw;
    margin-top: 200px;
  }

  #gridsystem1 #sunanim {
    top: 70px;
    margin-top: 0px;
  }

  .topright {
    top: 20vw;
    right: 5vw;
    margin-right: -50px;
  }
}

@media (max-width: 1000px) {
  .sidetext {
    top: 40vh;
    margin-left: 1.6vw;
  }

  #TextTitle {
    font-size: 1.05rem;
    line-height: 1.25rem;
    padding: 0px 5px;
  }

  #h3 {
    font-size: 1.15rem;
    line-height: 1.5rem;
    padding: 0px 5px;
  }

  #h4 {
    font-size: 1.25rem;
  }

  #TextBody {
    font-size: 0.8rem;
    line-height: 0.9rem;
    padding: 0px 5px;
  }

  #gridsystem1 #RadiationText {
    width: 40vw;
    top: 5vw;
    left: 6vw;
  }

  #gridsystem1 #DeepSpaceText {
    top: 40vw;
    margin-top: 200px;
    right: 20vw;
    width: 35vw;
  }

  #gridsystem1 #GeoText {
    width: 50vw;
    left: 14vw;
    margin-left: 10vw;
    top: 30vw;
    margin-top: 180px;
  }

  #gridsystem1 #LowEarthText {
    width: 40vw;
    top: 60vw;
    margin-top: 100px;
    right: 46vw;
    margin-right: 50px;
  }

  #gridsystem1 #AirplaneText {
    margin-left: 10vw;
    top: 65vw;
    margin-top: 200px;
  }

  #starline1 {
    animation: none;
  }

  #starline2 {
    animation: none;
  }

  #starline3 {
    animation: none;
  }

  #starcurve {
    animation: none;
  }

  #orbit {
    animation: none;
  }

  .Mountains.active > svg > g > .Car {
    cursor: pointer;
    animation: none;
    -webkit-transform: translate3D(50%, 0, 0);
    transform: translate3D(50%, 0, 0);
    opacity: 1;
  }

  .particleShower > svg > g > #pmain {
    opacity: 0;
    animation: maindashsm 12s ease-out infinite;
  }

  .particleShower.active > svg > g > #pmain {
    opacity: 0;
    animation: maindashsm 12s ease-out infinite;
  }

  @keyframes maindashsm {
    0% {
      opacity: 0;
    }

    45% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  .Mountains.active > svg > g > .Train {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    animation: Trainmovesml 7s ease-in 8s;
    -webkit-animation: Trainmovesml 7s ease-in 8s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .Mountains > svg > g > .Train {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    animation: Trainmovesml 7s ease-in 8s;
    -webkit-animation: Trainmovesml 7s ease-in 8s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  .Mountains > svg > g > .Train2 {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    animation: Train2movesml 10s linear 4s;
    -webkit-animation: Train2movesml 10s linear 4s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  @keyframes Trainmovesml {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @keyframes Train2movesml {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
  #Headlight {
    animation: Trainmovesml 1s ease-in-out infinite alternate;
    -webkit-animation: Trainmovesml 1s ease-in-out infinite alternate;
  }

  #gridsystem1 .Rocket {
    animation: flyanim2 5s 2s ease-in-out forwards;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin-top: 250px;
  }

  .Rocket.active {
    animation: flyanim2 5s 2s ease-in-out forwards;
    margin-top: 450px;
  }

  @keyframes flyanim2 {
    0% {
      transform: translate(0px, 0px);
    }

    100% {
      transform: translate(-30px, -100px);
    }
  }
}

@media (max-width: 800px) {
  #GroundLevel {
    width: 200px;
    opacity: 0;
  }

  .sidetext {
    top: 30vh;
    margin-left: 1.6vw;
  }

  #TextTitle {
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin-left: 0px;
    padding-left: 4px;
  }

  #h3 {
    font-size: 0.85rem;
    line-height: 1rem;
    margin-left: 0px;
    padding-left: 4px;
  }

  #h4 {
    font-size: 0.8rem;
  }

  #TextBody {
    font-size: 0.5rem;
    line-height: 0.5rem;
  }
  .modal-welcome {
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  #gridsystem1 #RadiationText {
    width: 40vw;
    top: 5vw;
    padding-top: 50px;
    left: 6vw;
  }

  #gridsystem1 #DeepSpaceText {
    top: 40vw;
    margin-top: 180px;
    right: 20vw;
    width: 35vw;
  }

  #gridsystem1 #GeoText {
    width: 50vw;
    left: 14vw;
    margin-left: 10vw;
    top: 30vw;
    margin-top: 130px;
  }

  #gridsystem1 #LowEarthText {
    width: 37vw;
    top: 60vw;
    margin-top: 120px;
    right: 44vw;
    margin-right: 50px;
  }

  #gridsystem1 #AirplaneText {
    margin-left: 10vw;
    top: 65vw;
    margin-top: 220px;
  }
  #Airplane {
    width: 35vw;
  }

  .topright {
    position: absolute;
    top: 17vw;
    right: 7vw;
    margin-right: -50px;
  }

  #gridsystem1 #Planet1 {
    left: 7vw;
    top: 9vw;
    margin-top: 120px;
  }

  #gridsystem1 #Planet2 {
    top: 20vw;
    margin-top: 160px;
  }

  #gridsystem1 #Powerstation {
    margin-right: 40px;
    margin-top: 62vw;
  }
  .powerstation {
    width: 17vw;
  }
  .starsystem {
    width: 50vw;
  }
  #gridsystem1 #Starsystem {
    margin-top: 60px;
  }

  #starsys1 {
    animation: none;
  }

  #starsys2 {
    animation: none;
  }

  #starsys3 {
    animation: none;
  }

  #starsys4 {
    animation: none;
  }

  .satellite {
    width: 45vw;
  }
  #gridsystem1 #Satellite {
    right: 1vw;
    margin-right: 2px;
  }

  .particleShower > svg > g > #psecond {
    opacity: 0;
    animation: secdashsm 12s ease-out infinite;
  }

  .particleShower.active > svg > g > #psecond {
    opacity: 0;
    animation: secdashsm 12s ease-out infinite;
  }

  @keyframes secdashsm {
    0% {
      opacity: 0;
    }

    45% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  .particleShower > svg > g > #pthird {
    opacity: 0;
    animation: thirddashsm 12s ease-out infinite;
  }

  .particleShower.active > svg > g > #pthird {
    opacity: 0;
    animation: thirddashsm 12s ease-out infinite;
  }

  @keyframes thirddashsm {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 0;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }
}

@media (max-width: 480px) {
  .modal {
    width: 85vw;
    max-width: 90%;
  }
  .sun {
    width: 40vw;
  }
  .sidetext {
    top: 20vh;
    margin-left: 1.2vw;
  }

  .smalltext {
    font-size: 12px;
  }

  #TextTitle {
    font-size: 0.6rem;
    padding: 0px 5px;
  }

  #h3 {
    font-size: 0.7rem;
    padding: 0px 5px;
  }

  #h4 {
    font-size: 0.5rem;
  }

  #TextBody {
    font-size: 0.5rem;
  }

  #gridsystem1 #RadiationText {
    width: 40vw;
    top: 5vw;

    left: 6vw;
  }

  #gridsystem1 #DeepSpaceText {
    top: 40vw;
    margin-top: 170px;
    right: 20vw;
    width: 35vw;
  }

  #gridsystem1 #GeoText {
    width: 50vw;
    left: 14vw;
    margin-left: 10vw;
    top: 29vw;
    margin-top: 100px;
  }

  #gridsystem1 #LowEarthText {
    width: 40vw;
    top: 62vw;
    margin-top: 110px;
    right: 42vw;
  }

  #gridsystem1 .Rocket {
    margin-top: 275px;
  }
  #AirplaneText {
    margin-left: 10vw;
    top: 65vw;
    margin-top: 220px;
  }

  .topright {
    position: absolute;
    top: 50vw;
    right: 20vw;
    margin-right: 100px;
    z-index: 3010;
  }

  #gridsystem1 #Planet1 {
    left: 7vw;
    top: 9vw;
    margin-top: 120px;
  }
}

@media (max-width: 380px) {
  .sidetext {
    top: 30vh;
    margin-left: 0.3vw;
  }

  #TextTitle {
    font-size: 0.5rem;
  }

  #h3 {
    font-size: 0.5rem;
  }

  #h4 {
    font-size: 0.5rem;
  }

  #TextBody {
    font-size: 0.5rem;
  }

  #gridsystem1 #RadiationText {
    width: 50vw;
    top: 5vw;
    left: 6vw;
  }

  #gridsystem1 #DeepSpaceText {
    top: 40vw;
    margin-top: 180px;
    right: 20vw;
    width: 35vw;
  }

  #gridsystem1 #GeoText {
    width: 42vw;
    left: 14vw;
    margin-left: 30vw;
    top: 20vw;
    margin-top: 130px;
  }

  #gridsystem1 #LowEarthText {
    width: 40vw;
    top: 50vw;
    margin-top: 120px;
    right: 40vw;
    margin-right: 50px;
  }

  #gridsystem1 #AirplaneText {
    margin-left: 10vw;
    top: 65vw;
  }

  .topright {
    position: absolute;
    top: 52vw;
    right: 9vw;
    margin-right: 125px;
  }

  #gridsystem1 #Powerstation {
    margin-right: 150px;
    margin-top: 65vw;
  }
}

.reveal {
  opacity: 0;
  transition: all 3s ease-in-out;
}

.reveal.active {
  opacity: 1;
}
