@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');




/* =================
BODY STYLE 
===================*/

.ba{
      background: rgb(15,15,36);
      background: linear-gradient( rgba(15,15,36,1) 10%,rgba(44,32,84,1) 50%,rgba(114,65,93,1) 63%, rgba(230,105,87,1) 80%, rgba(0,0,46,1) 100%);
    }*{margin: 0; padding: 0;}


    .sideline{
        position:absolute; 
        height: 100vw; 
        left: 2vw; 
        top: 20vw; 
        margin-top:150px;
        z-index: 7000; 
    }

    .sidetext {
        transform-origin: 0 0;
        top: 85%;
        margin-left: 2.9vw;
    }
 

    html, body {
        max-width: 100%;
       
    }


/* =================
Header Style
===================*/
    .header{
        background-color: black;
        color: white;
        width: 100%;
        height: 70px;
        top:0px;
    }

    .smalltext {  font-family: Helvetica;
        letter-spacing: 1.5px;
        font-weight: 300;
        font-size: 16px;
        padding: 23px 5px 0px;
        line-height: 30px;
        color:white;
        opacity: 0.5;
        transition: opacity 0.7s;
    }

    .smalltext:hover :active :focus{ 
        opacity: 1;
        font-weight: 400;}

        #sunanim{
            cursor: pointer;
            position: absolute;
            top: 80px;
            right: 17vw;
            width: 35vw;
            margin-top: 5em;
            animation: 1.5s ease-out 0s slideInFromTop1; 
            z-index: 900;
            }



/* =================
Grid System 1 Style
===================*/

    .gridsystem1 { 
    display: fixed;
    margin-top: 80px;
    overflow: hidden;
    }

 /* Grid System 1 Text */
 #TextTitle{
    font-family: Almarai;
    font-weight:2px;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 30px 0px;
    line-height: 1.75rem;
    color:white;
    transition: opacity 0.7s;
}
#TextTitle:hover{
    color:rgb(253, 253, 221);  
}
#h3{
    font-family: Almarai;
    font-weight:2px;
    letter-spacing: 2px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 30px 0px;
    line-height: 1em;
    color:white;
    transition: opacity 0.7s;
   
}
#h3:hover{
    color:rgb(253, 253, 221);  
}
#h4{
    font-family: Almarai;
    transform: rotate(270deg);
    position: fixed;
    letter-spacing: 2px;
    font-size: 24px;
    padding: 0px 0px 0px 0px;
    color:white;
    transition: opacity 0.7s;
    z-index:7000; 
}

#TextBody{
    font-family: Helvetica;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-style:normal;
    font-size: 18px;
    padding: 10px 30px 0px;
    line-height: 30px;
    color:white;
    transition: opacity 0.7s;
    
}
#TextBody:hover{
    color:rgb(253, 253, 221);

    
}
    .gridsystem1 #RadiationText{
        cursor: pointer;
        position: absolute;
        width: 35vw;
        top: 5vw;
        margin-top: 70px;
        left: 6vw;
        opacity: 0;
        z-index: 4010;
        }

     .gridsystem1 #DeepSpaceText{
         position: absolute;
        cursor: pointer;
        top: 40vw;
        margin-top: 200px;
        right: 20vw;
        width: 30em;
         opacity: 0;
        z-index: 4010;
        }
    .gridsystem1 #GeoText{
        position: absolute;
        cursor: pointer;
        width: 550px;
        left: 14vw;
        margin-left: 70px;
        top: 32vw;
        margin-top: 180px;
        opacity: 0;
        z-index: 4011;
        }

     .gridsystem1 #LowEarthText{
        cursor: pointer;
        position: absolute;
        width: 350px;
        top: 60vw;
        margin-top: 100px;
        right: 32vw;
        margin-right: 50px;
        opacity: 0;
        z-index: 4010;
        } 
    .gridsystem1 #AirplaneText{
        position: absolute;
        cursor: pointer;
        margin-left: 10vw;
        top: 65vw;
        margin-top: 200px;
        opacity: 0;
         z-index: 4010;
            }  

    /* Grid System 1 Images */

    .gridsystem1 #sunanim{
        cursor: pointer;
        position: absolute;
        top: 80px;
        right: 17vw;
        width: 35vw;
        margin-top: 5em;
        animation: 1.5s ease-out 0s slideInFromTop1; 
        z-index: 900;
        }
        .gridsystem1 #circle:hover{
            filter: invert(2%) sepia(1%) saturate(278%) hue-rotate(6deg) brightness(104%) contrast(97%);
            animation: oraymove 3s  linear infinite;
            transform-origin: center;
            
        }
        .gridsystem1 #circle:focus{
            filter: invert(2%) sepia(1%) saturate(278%) hue-rotate(6deg) brightness(104%) contrast(97%);
            animation: oraymove 3s  linear infinite;
            transform-origin: center;
            
        }
        .gridsystem1 #circle:active{
            filter: invert(2%) sepia(1%) saturate(278%) hue-rotate(6deg) brightness(104%) contrast(97%);
            animation: oraymove 3s ease-in-out ;
            transform-origin: center;
            
        }

        #outsideray{
            animation: oraymove 3s  linear infinite;
            transform-origin: center;
     
        }
        @keyframes oraymove{
           0% { transform: scale(1); }
          50% { transform: scale(1.1); }
          100% { transform: scale(1); }
            }
            #insideray{
                animation: iraymove 4s  linear infinite;
                transform-origin: center;
         
            }
            @keyframes iraymove{
               0% { transform: scale(1.1); }
              50% { transform: scale(1); }
              100% { transform: scale(1.1); }
                }
            

           

    .gridsystem1 #Skylayer1{
        
        position: absolute;
        opacity: 100%;
        top: 70px;
        right: 0px;
        z-index: 1;
        }        

    .gridsystem1 #Starsystemstatic{
position: absolute;
        width: 25vw;
        opacity: 100%;
        animation: 1.5s ease-out 0s slideInFromRight1; 
        margin-left: -50em; 
     

    }
    #Starsystem:hover{
        filter: invert(2%) sepia(1%) saturate(128%) hue-rotate(-20deg) brightness(104%) contrast(110%);
    }
        @keyframes slideInFromTop1 {
        
            0% 
            {
                transform: translateY(-50%);
                opacity: 0%;
            }
            100% {
                transform: translateY(0);
                opacity: 100%;
            }
        }
        @keyframes slideInFromRight1 {
        
            0% 
            {
                transform: translate(50%);
                opacity: 0%;
            }
            100% {
                transform: translate(0);
                opacity: 100%;
            }
        }



    .gridsystem1 #Asteroid{ 
        position: absolute;
        width: 10vw;
        margin-top: 6vw;
        right: 10vw;

        animation: 1.5s ease-out 0s slideInFromRight;
        animation-fill-mode: forwards; 
        z-index: 990;
        }
        @keyframes slideInFromRight {
        
            0% 
            {
                transform: translate(100%, 0);
                opacity: 0%;
            }
            100% {
                transform: translate(0, 0);
                opacity: 100%;
            }
        }


    .gridsystem1 #Skylayer2{
        grid-column-start: 1;
        grid-column-end: auto;
        opacity: 100%;
        left: 0px;
        top: 100vw;
        margin-top: 100px;
        z-index: 1;
        width: 20%;
        }

    .gridsystem1 .sidelinetext
        {
        font-family: Almarai;
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 19px;
        text-transform: uppercase;
        color:white;
        left: 0px;
        top: 0px;
        margin-top: 500px;
        margin-left: 83px;
        position: absolute;
        z-index: 1010;
        }


    .gridsystem1 #Planet1{
        animation: 1.5s ease-out 0s slideInFromLeft;
        position: absolute;
        left:0px;
        width: 20vw;
        left: 7vw;
        top: 12vw;
        margin-left: 70px;
        margin-top: 150px;
        animation-fill-mode: forwards; 
        z-index: 990;
        }
            
        @keyframes slideInFromLeft {
        
                0% 
                {
                    transform: translate(0%, 0);
                    opacity: 0%;
                }
                100% {
                    transform: translate(10%, 0);
                    opacity: 100%;
                }
            }

    .gridsystem1 #Planet2{
        position: absolute;
        right: 3em;
        top: 20vw;
        margin-top: 200px;
        animation: 1.5s ease-out 0s slideInFromRight;
        z-index: 990;
        }

    .gridsystem1 #Satellite{
        position: absolute;
        cursor: pointer;
        right: 7vw;
        margin-right: 25px;
        top: 33vw;
        margin-top: 175px;
        z-index: 3100;
        animation: 1.5s ease-out 0s slideInFromRight;
        }

        .gridsystem1 #Satellite:hover{
            filter: invert(2%) sepia(1%) saturate(128%) hue-rotate(-10deg) brightness(114%) contrast(87%);
            
           
            
        }
        .gridsystem1#Satellite:focus{
            filter: invert(2%) sepia(1%) saturate(108%) hue-rotate(6deg) brightness(104%) contrast(87%);
        }

        #satleg1{

            animation: satanim 3s ease-in-out infinite ;
         transform-origin: 120px 0px ;
         transform-box: fill-box;
        }
        @keyframes satanim {
        
            0% 
            {
                transform: rotatez(0deg);
                
            }
            50% 
            {
                transform: rotatez(-10deg);
               
            }
            100% {
                transform: rotatez(0deg);
                
            }
            
        }
        #satleg2{

            animation: satanim2 3s ease-in-out infinite ;
         transform-origin: 50px 0px ;
         transform-box: fill-box;
        }
        @keyframes satanim2 {
        
            0% 
            {
                transform: rotatez(0deg);
                
            }
            50% 
            {
                transform: rotatez(20deg);
               
            }
            100% {
                transform: rotatez(0deg);
                
            }
        }
    .gridsystem1 #Skylayer3{
        position: absolute;
        top: 30vw;
        margin-top: 300px;
        opacity: 100%;
        right: 0px;
        z-index: 0;
        }

     


        .gridsystem1 #Starsystem{
            cursor: pointer;
            top: 32vw;
            margin-top: 100px;
            left: 5vw;
            position: absolute;
            grid-column-start: 1;
            width:800px;
            z-index: 2010;
            }
            #starline1 {
                stroke-dasharray: 2000;
                animation: stardash 5s linear infinite;
              }
            #starline2 {
                stroke-dasharray: 2000;
                animation: stardash2 5s linear infinite;
              }
              #starline3 {
                stroke-dasharray: 2000;
                animation: stardash 5s linear infinite;
              }
              #starcurve {
                stroke-dasharray: 2000;
                animation: stardash2 5s linear infinite;
              }
              @keyframes stardash {
                0% {
                  stroke-dashoffset: 3000;
                }
                50% {
                    stroke-dashoffset: 4000;
                  }
                  100% {
                    stroke-dashoffset: 4000;
                  }
              }
              @keyframes stardash2 {
                0% {
                  stroke-dashoffset: 6000;
                }
                50% {
                    stroke-dashoffset: 4000;
                  }
                  100% {
                    stroke-dashoffset: 4000;
                  }
              }

    .gridsystem1 #Powerstation{
        cursor: pointer;
        perspective: 200;
        position: absolute;
        right: 22vw;
        margin-right: 80px;
        margin-top: 60vw;
        z-index: 2050;
        }
        .gridsystem1 #Powerstation:hover{
            filter: invert(2%) sepia(1%) saturate(128%) hue-rotate(-10deg) brightness(114%) contrast(87%);
            }

    #Powerstation1 {
        animation: powerper 10s ease-in-out infinite;
    }
    
        
        @keyframes powerper {
            0% {
            perspective: 200;
            transform: rotateY(15deg)
            }
            50% {
            perspective: 200;
            transform: rotateY(-15deg)
              }
            100% {
            perspective: 200;
            transform: rotateY(15deg)
              }
            }
            #shine {
                animation: shine 5s ease-in-out infinite;
            }
            
                
                @keyframes shine {
                    0% {
                   opacity: 70;
                    }
                    50% {
                        opacity: 0;
                      }
                    100% {
                        opacity: 70;
                      }
                    }
        
  
    .gridsystem1 #Rocket{
        position: absolute;
        width: 23vw;
        top: 50vw;
        margin-top: 150px;
        right: 0px;
        margin-right: -10px;
        animation: 1.5s ease-out 0s slideInFromRight;
        z-index: 990;
        }

    .gridsystem1 #Particle{
        position: absolute;
        width: 50vw;
        left: 40%;
        transform: translate(-50%, -50%);
        z-index: 1100;
        top: 70vw;
        margin-top: 200px;        
        }
              
        .pMain {
            opacity: 0;
        }
                .pMain.active {
                    opacity: 1;
                    stroke-dasharray: 4000;
                    animation: maindash 10s ease-out ;
                  }
                  
                  @keyframes maindash {
                    0% {
                      stroke-dashoffset: 4000;
                    }
                    25% {
                        stroke-dashoffset: 8000;
                      }
                      50% {
                        stroke-dashoffset: 8000;
                      }
                      75% {
                        stroke-dashoffset: 8000;
                      }
                      100% {
                        stroke-dashoffset: 8000;
                      }
                  }
                  .pSecond {
                    opacity: 0;
                }
                  .pSecond.active {  
                    opacity: 1;
                    animation: secdash 10s linear ;
                  }
                  
                  @keyframes secdash {
                    0% {
                      stroke-dasharray: 2500;
                        stroke-dashoffset: 2500;
                    }15% {
                        stroke-dasharray: 2500;
                          stroke-dashoffset: 2500;
                      }
                      40% {
                        stroke-dashoffset: 5000;
                      }
                      100% {
                        stroke-dashoffset: 5000;
                      }
                  }
                  .pThird {
                    opacity: 0;
                }
                  .pThird.active {
                    opacity: 1;
                    stroke-dasharray: 2500;
                    animation: thirddash 10s linear ;
                  }
                  
                  @keyframes thirddash {
                    0% {
                        stroke-dasharray: 2500;
                      stroke-dashoffset: 2500;
                    }
                    25% {
                        stroke-dasharray: 2500;
                      stroke-dashoffset: 2500;
                    }
                      50% {
                        stroke-dasharray: 2500;
                        stroke-dashoffset: 5000;
                      }
                      100% {
                        stroke-dasharray: 2500;
                        stroke-dashoffset: 5000;
                      }
                  }

                  #starsys1{
                    animation: startwink 5s  ease-in-out infinite;
                    transform-origin: absolute;
             
                }
                #starsys2{
                    animation: startwink 8s  ease-in-out infinite;
                    transform-origin: absolute;
             
                }
                #starsys3{
                    animation: startwink2 7s  ease-in-out infinite;
                    transform-origin: absolute;
             
                }
                #starsys4{
                    animation: startwink2 10s  ease-in-out infinite;
                    transform-origin: absolute;
             
                }
                @keyframes startwink{
                   0% { opacity:0; }
                  50% { opacity:.9; }
                  100% { opacity:0; }
                    }
                    @keyframes startwink2{
                        0% { opacity:1; }
                       50% { opacity:0.1; }
                       100% { opacity:1; }
                         }

    



        /* REVEAL ON SCROLL */
.gridsystem2{
    width: 100vw;
    position: relative;
    text-align: center;
    top: 18vw;
    margin-top: -10px;
    overflow: hidden;
}
.topright {
    position: absolute;
    top: 20vw;
    right: 12vw;
    margin-right:-20px;
    z-index: 3010;
  }


#GroundLevel{
            cursor: pointer;
            width: 350px;
            opacity: 0;
          
                    } 
        
        .Mountains{
            cursor: pointer;
            margin-top: 0px; 
            z-index: 3000;
          }

        #Airplane{
            cursor: pointer;
            animation:Airplanemove 20s linear infinite;
            position: absolute;
            left:0px;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 6500;
            }
        #Airplane:hover{
            filter:  saturate(110%)  brightness(90%) contrast(120%);
        
        }
            
            
                @keyframes Airplanemove {

                    0% {
                        transform: translateX(-50%);
                        opacity: 100%;
                    }
                    
                    100% {
                        transform: translateX(500%);
                        opacity: 100%;
                    }
                }
                #Airplane:hover{
                    cursor: pointer;
                animation-play-state: paused;
                    }



         #Train{
             animation: Trainmove 25s  linear infinite;
             float: left;
            width: 550px;
    
            }   
            @keyframes Trainmove {
        
                0% 
                {
                    transform: translateX(200%);
                    opacity: 100%;
                }
                100% {
                    transform: translateX(-100%);
                    opacity: 100%;
                }
            }

        #Car{
            animation: Carmove 30s linear infinite;
                position: relative;
                width: 422px;
                
                } 
                @keyframes Carmove {
        
                    0% 
                    {
                        transform: translateX(-50%);
                        opacity: 100%;
                    }
                    100% {
                        transform: translateX(100%);
                        opacity: 100%;
                    }
                }
/* =================
Screen Sizes
===================*/

             @media (max-width: 1200px) {
                #TextTitle{
    font-family: Almarai;
    font-weight:2px;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 30px 0px;
    line-height: 1.75rem;
    color:white;
    transition: opacity 0.7s;
   
}

.sidetext {
    top: 75%;
    margin-left: 2.4vw;
}

#h3{
    font-family: Almarai;
    font-weight:2px;
    letter-spacing: 2px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 30px 0px;
    line-height: 1em;
    color:white;
    transition: opacity 0.7s;
   
}
#h4{

    font-size: 20px;
}
#TextBody{
    font-family: Helvetica;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-style:normal;
    font-size: 18px;
    padding: 10px 30px 0px;
    line-height: 30px;
    color:white;
    transition: opacity 0.7s;
    
}
                .gridsystem1 #RadiationText{
                    width: 40vw;
                    top: 5vw;
                    margin-top: 70px;
                    left: 6vw;
                    }
            
                 .gridsystem1 #DeepSpaceText{
                    top: 38vw;
                    margin-top: 200px;
                    right: 20vw;
                    width: 30vw;
                    }
                .gridsystem1 #GeoText{
                    width: 50vw;
                    left: 14vw;
                    margin-left: 10vw;
                    top: 32vw;
                    margin-top: 180px;
                    }
            
                 .gridsystem1 #LowEarthText{
                    width: 350px;
                    top: 60vw;
                    margin-top: 100px;
                    right: 32vw;
                    margin-right: 50px;

                    } 
                .gridsystem1 #AirplaneText{
                    margin-left: 10vw;
                    top: 65vw;
                    margin-top: 200px;
                }
                .gridsystem1 #sunanim{
                    top: 70px;
                    margin-top: 0px;
                    }
         

                 .topright {
                    top: 20vw;
                    right: 5vw;
                     margin-right:-50px;
                          }
                }

                @media (max-width: 1000px) {
                    .sidetext {  
                        top: 70%;         
                        margin-left: 2vw;
                    }
                    #TextTitle{
                        font-size: 1.25rem;
                        line-height: 1.25rem; 
                    }
    
                    #h3{
                        font-size: 1.75rem;
                        line-height: 1.5rem;  
                    }
                    #h4{

                        font-size: 1.25rem;
                    }
    
                    #TextBody{
                        font-size: .75rem;
                        line-height: .5rem;
                        
                    }
                    .gridsystem1 #RadiationText{
                        width: 40vw;
                        top: 5vw;
                        margin-top: 70px;
                        left: 6vw;
                        }
                
                     .gridsystem1 #DeepSpaceText{
                        top: 40vw;
                        margin-top: 200px;
                        right: 20vw;
                        width: 35vw;
                        }
                    .gridsystem1 #GeoText{
                        width: 50vw;
                        left: 14vw;
                        margin-left: 10vw;
                        top: 30vw;
                        margin-top: 180px;
                        }
                
                     .gridsystem1 #LowEarthText{
                        width: 50vw;
                        top: 60vw;
                        margin-top: 100px;
                        right: 32vw;
                        margin-right: 50px;
    
                        } 
                    .gridsystem1 #AirplaneText{
                        margin-left: 10vw;
                        top: 65vw;
                        margin-top: 200px;
                            }  

                     .topright {
                        position: absolute;
                        top: 20vw;
                        right: 3vw;
                        margin-right:0px;
                        z-index: 3010;
                        }
                    }

                    @media (max-width: 800px) {
                        .sidetext {
                            top: 60%;  
                            margin-left: 1.1vw;
                        }
                        #TextTitle{
                            font-size: .85rem;
                            line-height: .80rem; 
                        }
        
                        #h3{
                            font-size: 1rem;
                            line-height: 1rem;  
                        }
                        #h4{

                            font-size: .8rem;
                        }
        
                        #TextBody{
                            font-size: .5rem;
                            line-height: .5rem;
                            
                        }
                        .gridsystem1 #RadiationText{
                            width: 40vw;
                            top: 5vw;
                            margin-top: 70px;
                            left: 6vw;
                            }
                    
                         .gridsystem1 #DeepSpaceText{
                            top: 40vw;
                            margin-top: 180px;
                            right: 20vw;
                            width: 35vw;
                            }
                        .gridsystem1 #GeoText{
                            width: 50vw;
                            left: 14vw;
                            margin-left: 10vw;
                            top: 30vw;
                            margin-top: 130px;
                            }
                    
                         .gridsystem1 #LowEarthText{
                            width: 50vw;
                            top: 60vw;
                            margin-top: 120px;
                            right: 32vw;
                            margin-right: 50px;
        
                            } 
                        .gridsystem1 #AirplaneText{
                            margin-left: 10vw;
                            top: 65vw;
                            margin-top: 220px;
                                }  
    
                         .topright {
                            position: absolute;
                            top: 21vw;
                            right: 2vw;
                            margin-right:-50px;
                            }
                        .gridsystem1 #Planet1{
                            left: 7vw;
                            top: 9vw;
                            margin-top: 120px;
                            }

                         .gridsystem1 #Planet2{
                            top: 20vw;
                            margin-top: 160px;

                                    }
                        }

                        @media (max-width: 480px) {
                            .sidetext {           
                                top: 50%;
                                margin-left: 1vw;
                            }
                            .smalltext {  
                                font-size: 12px;
                            }
                            #TextTitle{
                                font-size: .5rem; 
                            }
            
                            #h3{
                                font-size: .75rem; 
                            }
                            #h4{

                                font-size: .5rem;
                            }
            
                            #TextBody{
                                font-size: .35rem;
                                
                            }
                            .gridsystem1 #RadiationText{
                                width: 40vw;
                                top: 5vw;
                                margin-top: 70px;
                                left: 6vw;
                                }
                        
                             .gridsystem1 #DeepSpaceText{
                                top: 40vw;
                                margin-top: 170px;
                                right: 20vw;
                                width: 35vw;
                                }
                            .gridsystem1 #GeoText{
                                width: 50vw;
                                left: 14vw;
                                margin-left: 10vw;
                                top: 29vw;
                                margin-top: 130px;
                                }
                        
                             .gridsystem1 #LowEarthText{
                                width: 50vw;
                                top: 62vw;
                                margin-top: 110px;
                                right: 32vw;
                                margin-right: 50px;
            
                                } 
                            .gridsystem1 #AirplaneText{
                                margin-left: 10vw;
                                top: 65vw;
                                margin-top: 220px;
                                    }  
        
                             .topright {
                                position: absolute;
                                top: 20vw;
                                right: 1vw;
                                margin-right:-50px;
                                z-index: 3010;
                                }
                                .gridsystem1 #Planet1{
                                    left: 7vw;
                                    top: 9vw;
                                    margin-top: 120px;
                                    }
                            }

                                    .pMain {
                                        opacity: 1;
                                        stroke-dasharray: 4000;
                                        animation: maindash 10s ease-out ;
                                      }
                                      
                                      @keyframes maindash {
                                        0% {
                                          stroke-dashoffset: 4000;
                                        }
                                        25% {
                                            stroke-dashoffset: 8000;
                                          }
                                         
                                          100% {
                                            stroke-dashoffset: 8000;
                                          }
                                 
                                    }
                                      .pSecond {  
                                        opacity: 1;
                                        animation: secdash 10s linear ;
                                      }
                                      
                                      @keyframes secdash {
                                        0% {
                                          stroke-dasharray: 2500;
                                            stroke-dashoffset: 2500;
                                        }
                                        25% {
                                            stroke-dasharray: 2500;
                                              stroke-dashoffset: 2500;
                                          }
                                          50% {
                                            stroke-dashoffset: 5000;
                                          }
                                          100% {
                                            stroke-dashoffset: 5000;
                                          }
                                      }
                                      
                                      .pThird {
                                        opacity: 1;
                                        stroke-dasharray: 2500;
                                        animation: thirddash 10s linear ;
                                      }
                                      
                                      @keyframes thirddash {
                                        0% {
                                            stroke-dasharray: 2500;
                                          stroke-dashoffset: 2500;
                                        }
                                        50% {
                                            stroke-dasharray: 2500;
                                          stroke-dashoffset: 2500;
                                        }
                                          75% {
                                            stroke-dasharray: 2500;
                                            stroke-dashoffset: 5000;
                                          }
                                          100% {
                                            stroke-dasharray: 2500;
                                            stroke-dashoffset: 5000;
                                          }
                                      }
                            @media (max-width: 380px) {
                                .sidetext {           
                                    top: 50%;
                                    margin-left: 1vw;
                                }
                                #TextTitle{
                                    font-size: .25rem; 
                                }
                
                                #h3{
                                    font-size: .35rem;  
                                }
                                #h4{

                                    font-size: .2rem;
                                }
                                #TextBody{
                                    font-size: .2rem;
                                    
                                }
                                .gridsystem1 #RadiationText{
                                    width: 40vw;
                                    top: 5vw;
                                    margin-top: 70px;
                                    left: 6vw;
                                    }
                            
                                 .gridsystem1 #DeepSpaceText{
                                    top: 40vw;
                                    margin-top: 180px;
                                    right: 20vw;
                                    width: 35vw;
                                    }
                                .gridsystem1 #GeoText{
                                    width: 50vw;
                                    left: 14vw;
                                    margin-left: 20vw;
                                    top: 20vw;
                                    margin-top: 130px;
                                    }
                            
                                 .gridsystem1 #LowEarthText{
                                    width: 50vw;
                                    top: 62vw;
                                    margin-top: 120px;
                                    right: 32vw;
                                    margin-right: 50px;
                
                                    } 
                                .gridsystem1 #AirplaneText{
                                    margin-left: 10vw;
                                    top: 65vw;
                                        }  
            
                                 .topright {
                                    position: absolute;
                                    top: 19vw;
                                    right: 1vw;
                                    margin-right:-35px;
                        
                                    }
                                    .gridsystem1 #Powerstation{
                                        margin-right: 100px;
                                        margin-top: 60vw;
                                        width: 10vw;
                                        }
                                }
         
          .reveal{
            opacity: 0;
            transition: all 3s ease-in-out;
          }
          
          .reveal.active{
            opacity: 1;
          }

